.hamburger {
    display: flex;
    flex-direction: column;
    /* padding-left: 2rem; */
    background-color:transparent;
    border-color: white;
    cursor: pointer;
}

.hamburgerItem {
    height: 0.4rem;
    width: 2rem;
    margin: 2px 0;
    background-color: white;
}


